name: CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-18.04

    steps:
      - name: Verify variables
        id: verify_variables
        run: |
          if [[ "$telegram_token" != "YOUR_TELEGRAM_TOKEN" && "$telegram_chat_id" != "YOUR_TELEGRAM_CHAT_ID" ]]; then
            echo "Variables are valid. Proceeding with the next steps."
            echo "valid_variables=true" >> $GITHUB_ENV
          else
            echo "Invalid variables. Skipping the workflow."
            echo "valid_variables=false" >> $GITHUB_ENV
            exit 0
          fi
        shell: bash

      - name: Print current directory
        run: |
          pwd
          ls -al

      - name: Run tests
        run: |
          if [[ "${{ env.valid_variables }}" == "true" ]]; then
            python -m unittest discover
          fi

      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: test-results
          path: test-results
        if: env.valid_variables == 'true'
