name: CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.x

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: Verify variables
      run: |
        if [ "$telegram_token" != "YOUR_TELEGRAM_TOKEN" ] && [ "$telegram_chat_id" != "YOUR_TELEGRAM_CHAT_ID" ]; then
          echo "Variables are valid. Proceeding with the next step."
        else
          echo "Invalid variables. Skipping the next step."
          exit 0
        fi

    - name: Run tests
      run: python -m unittest discover

    - name: Upload artifacts
      uses: actions/upload-artifact@v2
      with:
        name: test-results
        path: test-results
